html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-color: #000;
    font-family: "Space Mono", sans-serif;
    color: gray;
    font-size: 14px;
    /* line-height: 20px; */
}

.portfolio-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;       /* Rotate Axis */
    margin-bottom: 80px;
    /* justify-content: space-around; */
}

#website-title {
    width: 80%;  
    max-width: 1000px; 
    height: 100vh;          
    text-align: center;
    /* color:#588218; lighter color******* */
    color:#466813;
    font-size: 80px;
    padding: 70px 20px 30px 0px;     /* top right bottom left */
}

#website-portfolio-description {
    width: 80%;                 
    max-width: 1000px;
    height: 80vh;          
    display: flex;                /* Children use Flexbox */
    flex-direction: column;       /* Rotate Axis */
    overflow: hidden;             /* Fixes the corners */
    /* margin: 0px;                  Add space between cards */
    padding: 50px 20px 0px 0px;     /* top right bottom left */
}

#my-pic {
    width: 20%;       
    margin-bottom: 50px;          
}

.section-title {
    color:#466813;
    /* color:#588218; lighter color******* */
    margin-right: 52%;
    font-size: 60px;
}

.card {
    width: 80%;                 /* Set width of cards */
    max-width: 1000px;
    height: 70vh;          
    display: flex;                /* Children use Flexbox */
    flex-direction: column;       /* Rotate Axis */
    border: 2px solid white;    /* Set up Border */
    border-radius: 10px;           /* Slightly Curve edges */
    overflow: hidden;             /* Fixes the corners */
    margin: 105px;                  /* Add space between cards */
    padding: 30px 0px 30px 25px;     /* top right bottom left */
}
  
.card-header, #my-name {
    color: gray;
    font-size: 20px;
    font-weight: 600;
}

.card-title {
    color: greenyellow;
    font-size: 50px;
    font-weight: 600;
}

.card-body {
    display: flex;              /* Children use Flexbox */
    flex-direction: row;        /* Rotate Axis to Vertical */
    /* justify-content: center;    Group Children in Center */
    /* align-items: center;        Group Children in Center (on cross axis) */
    /* padding: 15px 0;             */
    /* Add padding to the top/bottom */
    /* justify-content: space-between; */
}

.card-description {
    width: 50%;
    color: white;
    font-size: 20px;
    /* text-align: left; */
}

.card-pic {
    color: white;
    font-size: 36px;
}
/* @media(max-width: 991px) {
    .tag {
        width: 50%;
    }
}
@media(max-width: 767px) {
    .tag {
        width: 100%;
    }
} */