html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-color: #000;
    font-family: "Space Mono", sans-serif;
    color: gray;
    font-size: 14px;
}

.portfolio-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;       /* Rotate Axis */
    margin-bottom: 80px;
}

#website-title {
    width: 80%;  
    max-width: 1000px; 
    height: 90vh;          
    text-align: center;
    color:#588218;
    /* color: #4c1ca4; */
    font-size: 80px;
    font-family: 'Odibee Sans', cursive;
    padding: 10% 20px 1.5% 0px;     /* top right bottom left */
}

/* Scrollbar */
*::-webkit-scrollbar { width: 12px; }
.card-description::-webkit-scrollbar { width: 0px; }
*::-webkit-scrollbar-track { background: black; }
*::-webkit-scrollbar-thumb {
    background-color: greenyellow; /* TODO: Should I make scrollbar #F0F0F0???**** */
    border-radius: 20px;
    border: 3px solid greenyellow;
}


/* Section about Me */
#website-portfolio-description {
    width: 80%;                 
    max-width: 1000px;
    height: 93vh;          
    display: flex;               
    flex-direction: column;      
    overflow: hidden;             
    padding: 50px 20px 0px 0px;     /* top right bottom left */
}

#my-pic {
    width: 15%;       
    margin-bottom: 50px;   
    border-radius: 15px;          
}

#my-name {
    color: lightgray;
    font-size: 30px;
    font-weight: 600;
}

#my-occupation {
    max-width: 780px;
    margin-left: -2px;
    font-size: 45px;
    line-height: 65px;
    font-weight: 400;

    /* Making a gradient text */
    background-image: linear-gradient(116deg, #9660f9, #40f384);    /* declare the gradient as the background image */
    -webkit-text-fill-color: transparent;                               /* make the text transparent to reveal the background */
    background-clip: text;                                              /* clip the background image to the text */
    -webkit-background-clip: text;
}

/* Project Section */
.section-title {
    /* color: #4c1ca4    ; */
    color:#588218;
    width: 80%;
    max-width: 1020px;
    margin-bottom: 1%;
    font-size: 60px;
}

.card {
    width: 80%;                 /* Set width of cards */
    max-width: 990px;
    max-height: 650px;
    height: 70vh;          
    display: flex;              
    flex-direction: column;     
    border: 2px solid white;   
    border-radius: 15px;         
    overflow: hidden;          
    margin: 7%;                  /* Add space between cards */
    padding: 35px 0px 35px 30px;     /* top right bottom left */
    position: relative;
}
  
.card-header {
    color: gray;
    font-size: 20px;
    font-weight: 600;
}

.card-title {
    color: greenyellow;
    font-size: 50px;
    font-weight: 600;
    margin-top: 10px;   
    margin-bottom: 10px;             
}

.card-body {
    display: flex;             
    flex-direction: row;        /* Rotate Axis to Vertical */
    height: 45vh; 
}

.card-description {
    width: 39%;
    padding-right: 1%;
    color: white;
    font-size: 150%;
    text-overflow: ellipsis;    /* TODO: not working */
    overflow: auto;
}

/* Removes Launch Github button's hyperlink color */
a {
    text-decoration: none;
    color: white;
}

button {
    display: block;
    /* width: 20%; */
    position:absolute;
    bottom:5%;
    padding: 18px;
    font-size: 22px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;  
    cursor: pointer;
}

.card-pic {
    display: flex;              
    flex-direction: column;  
    width: 58%;
    margin-left: 1%;
}

.card-pic-top, .card-pic-bottom {
    /* width: 100%; */
    position: relative;
}

/* Laptop images - show black and white version, hide purple version */
.laptop-top-bw {
    position: absolute;
    left: 10.75%;
    width: 78%;  
    opacity: 1; 
    transition: 0.5s ease-in-out;
}

.laptop-top-purple {
    /* position: absolute; */
    width: 78%;  
    margin-left: 10.75%;
    margin-bottom: -.88%;
    opacity: 0; 
    transition: 0.5s ease-in-out;
}

.laptop-bottom-bw {
    position: absolute;
    width: 100%;  
    top: 0px;
    opacity: 1; 
    transition: 0.5s ease-in-out;
}

.laptop-bottom-purple {
    /* position: absolute; */
    width: 100%;  
    opacity: 0; 
    transition: 0.5s ease-in-out;
}

/* Laptop screen images for each project */
.laptop-screen {
    position: absolute;
    top: 9.8%;
    left: 13.75%;
    height: 86.5%;
    width: 72.3%;
    opacity: 0; 
    transition: 0.5s ease-in-out;
}

.laptop-screen-one {
    width: 34.5%;  
}

.laptop-screen-two {
    position: absolute;
    top: 10%;
    left: 48.5%;
    width: 36.75%;
    height: 86.2%;
    opacity: 0; 
    transition: 0.5s ease-in-out;
    border-left: 3px solid white;
}

/* On hover, change laptop from black and white to purple and display project images */
.card:hover .laptop-top-purple, .card:hover .laptop-bottom-purple, 
.card:hover .laptop-screen, .card:hover .laptop-screen-two {
    opacity: 1 !important;
}

.card:hover .laptop-top-bw, .card:hover .laptop-bottom-bw {
    opacity: 0 !important;
}

/* On hover, add purple glow around the card */
.card:hover {
    box-shadow: 0 0 86px 50px rgb(112 20 210 / 50%);
}


@media(max-width: 991px) {      /* Scaling for tablet sizes */
    #website-title {
        font-size: 70px;
    }
    #my-pic {
        width: 20%;               
    }
    .section-title {
        font-size: 55px;
    }
    .card-title {
        font-size: 45px;           
    }
    .card-description {
        font-size: 2.2vw;
        max-height: 360px;
    }
    .card {
        max-height: 600px;
    }
}
@media(max-width: 767px) {      /* Scaling for phone sizes */
    #website-title {
        font-size: 60px;
    }
    #my-pic {
        width: 30%;               
    }
    .section-title {
        font-size: 48px;
    }
    .card-title {
        font-size: 33px;           
    }
    .card-description {
        font-size: 2.5vw;
        max-height: 300px;
    }
    .card {
        max-height: 500px;
    }
}