html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-color: #000;
    font-family: "Space Mono", sans-serif;
    color: gray;
    font-size: 14px;
}

.portfolio-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;       /* Rotate Axis */
    margin-bottom: 80px;
}

#website-title {
    width: 80%;  
    max-width: 1000px; 
    height: 90vh;          
    text-align: center;
    color:#588218;
    /* color: #4c1ca4; */
    font-size: 80px;
    font-family: 'Odibee Sans', cursive;
    padding: 15% 20px 1.5% 0px;     /* top right bottom left */
}

#website-portfolio-description {
    width: 80%;                 
    max-width: 1000px;
    height: 93vh;          
    display: flex;               
    flex-direction: column;      
    overflow: hidden;             
    padding: 50px 20px 0px 0px;     /* top right bottom left */
}

#my-pic {
    width: 20%;       
    margin-bottom: 50px;   
    border-radius: 15px;          
}

#my-name {
    color: lightgray;
    font-size: 30px;
    font-weight: 600;
}

#my-occupation {
    max-width: 780px;
    margin-left: -2px;
    font-size: 45px;
    line-height: 65px;
    font-weight: 400;

    /* Making a gradient text */
    background-image: linear-gradient(116deg, #9660f9, #40f384);    /* declare the gradient as the background image */
    -webkit-text-fill-color: transparent;                               /* make the text transparent to reveal the background */
    background-clip: text;                                              /* clip the background image to the text */
    -webkit-background-clip: text;
}

.section-title {
    /* color: #4c1ca4    ; */
    color:#588218;
    width: 80%;
    max-width: 1020px;
    margin-bottom: 1%;
    font-size: 60px;
}

.card {
    width: 80%;                 /* Set width of cards */
    max-width: 990px;
    max-height: 650px;
    height: 70vh;          
    display: flex;              
    flex-direction: column;     
    border: 2px solid white;   
    border-radius: 15px;         
    overflow: hidden;          
    margin: 7%;                  /* Add space between cards */
    padding: 35px 0px 35px 30px;     /* top right bottom left */
    position: relative;
}
  
.card-header {
    color: gray;
    font-size: 20px;
    font-weight: 600;
}

.card-title {
    color: greenyellow;
    font-size: 50px;
    font-weight: 600;
    margin-top: 10px;   
    margin-bottom: 10px;             
}

.card-body {
    display: flex;             
    flex-direction: row;        /* Rotate Axis to Vertical */
}

.card-description {
    width: 45%;
    padding-right: 5%;
    color: white;
    font-size: 20px;
    /* text-align: left; */
}

/* Gets rid of the button's hyperlink color */
a {
    text-decoration: none;
    color: white;
}

button {
    display: block;
    /* width: 20%; */
    position:absolute;
    bottom:5%;
    padding: 18px;
    font-size: 22px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;  
    cursor: pointer;
}

.card-pic {
    display: flex;              
    flex-direction: column;  
    position: relative;
    top: 0;
    left: 0; 
}

/* Laptop screens - show black and white version, hide purple version */
.laptop-top-bw {
    position: absolute;
    top: 0px;
    left: 51px;
    width: 99%;  
    opacity: 1; 
    transition: 0.5s ease-in-out;
}

.laptop-bottom-bw {
    position: absolute;
    top: 224px;
    left: 0px;
    width: 129%;  
    opacity: 1; 
    transition: 0.5s ease-in-out;
}

.laptop-top-purple {
    width: 99%;  
    margin-left: 51px;
    opacity: 0; 
    transition: 0.5s ease-in-out;
}

.laptop-bottom-purple {
    width: 129%;  
    opacity: 0; 
    transition: 0.5s ease-in-out;
}

.laptop-screen {
    position: absolute;
    top: 22.5px;
    left: 64px;
    width: 42%;  
    opacity: 0; 
    transition: 0.5s ease-in-out;
}

.laptop-screen2 {
    position: absolute;
    top: 22.5px;
    left: 210px;
    width: 50%;  
    opacity: 0; 
    transition: 0.5s ease-in-out;
}

/* On hover, change laptop from black and white to purple */
.card:hover .laptop-top-purple, .card:hover .laptop-bottom-purple, .card:hover .laptop-screen, .card:hover .laptop-screen2 {
    opacity: 1 !important;
}

.card:hover .laptop-top-bw, .card:hover .laptop-bottom-bw {
    opacity: 0 !important;
}

/* On hover, add purple glow around the card */
.card:hover {
    box-shadow: 0 0 86px 50px rgb(112 20 210 / 50%);
}

/* @media(max-width: 991px) {
    .tag {
        width: 50%;
    }
}
@media(max-width: 767px) {
    .tag {
        width: 100%;
    }
} */